{% extends 'base.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
{% endblock head %}
{% block content %}
    <div class="[ o-basic-layout ]">
        <main class="[ c-main ]">
            <h1>
                My Stuff
            </h1>

            <ul>
                <li>
                    <a href="//critical-css.jandc.io">Critical CSS demo site</a>
                </li>
            </ul>
        </main>
    </div>
{% endblock content %}